<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide">

	<!-- wp:column {"width":"300px","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
	<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);flex-basis:300px"><!-- wp:template-part {"slug":"sidebar-left"} /--></div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"620px","style":{"spacing":{"padding":{"right":"0","left":"0"}},"border":{"right":{"width":"1px","color":"var:preset|color|contrast-3"},"left":{"width":"1px","color":"var:preset|color|contrast-3"}}}} -->
	<div class="wp-block-column" style="border-right-color:var(--wp--preset--color--contrast-3);border-right-width:1px;border-left-color:var(--wp--preset--color--contrast-3);border-left-width:1px;padding-right:0;padding-left:0;flex-basis:620px">
		<!-- wp:template-part {"slug":"header"} /-->

		<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
		<main class="wp-block-group">

			<!-- wp:query {"queryId":2,"query":{"perPage":10,"pages":0,"offset":0,"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"postType":"post","taxQuery":null,"parents":[],"format":[]}} -->
			<div class="wp-block-query rs-following-feed">
				<!-- wp:post-template {"metadata":{"ignoredHookedBlocks":["radical-socials/like-button"]}} -->
				<!-- wp:pattern {"slug":"radical-theme/loop-content"} /-->
				<!-- /wp:post-template -->
				<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
				<!-- wp:query-pagination-previous /-->
				<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->
			</div><!-- /wp:query -->
			
		</main>
		<!-- /wp:group -->
	</div><!-- /wp:column -->

	<!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
	<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:template-part {"slug":"sidebar-right"} /--></div>
	<!-- /wp:column -->
	</div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
